<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img src="" alt="">
                <h3 class="text-uppercase text-center p-4">
                    <p>
                        orale wey djfjdfdjjfdjfjdjfjdfjdfjdfdfdfdjjdndnndjvnjdnvjdnvjndjvndjvnd
                        <a href="/add" class="btn btn-primary">
                            crear
                        </a>
                    </p>
                </h3>
            </div>
        </div>
    </div>
</main>